/*
  This is a CSS Comment.
*/

/*
  The general structure of a CSS rule-set consists of a selector and a declaration block:

  selector {
    property: value;
  }
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* This is a so-called "type selector". It is applied on all elements of type a (all links) */
a {
  color: #00B7FF;
}

/* This is a so-called "class selector". It is applied on all elements which contain "rb" in their "class" attribute */
.rb {
  border-radius: 5px;
  border: 1px black solid;
}

/* This is a so-called "ID selector". It is applied on a single element with the id logo */
#logo {
  transform: rotate(25deg);
}

/* This is a so-called "attribue selector". It is applied on all a (link) elements which have https in their href */
a[href*="https"] {
  color: #00B700;
}

/* This is a so-called "pseudo-class selector". It is applied on hovered a (link) elements */
a:hover {
  color: #CC0000;
}

/* This is a so-called "pseudo-elements selector". It is applied on the first letter of each paragraph */
p::first-letter {
  font-size: 1.5em;
  font-weight: 900;
  font-family: serif;
}

/* =================== */
/* === Combinators === */
/* =================== */

/* Child combinator */
/* This is applied on all code elements that are direct children of list items */
li > code {
  background-color: yellow;
}

/* Descendant combinator */
/* This is applied on all td elements that are children (direct or indirect) of tfoot elements */
tfoot td {
  background-color: antiquewhite;
}

/* Selector list */
/* Applied to all headings */
h1, h2, h3, h4, h5, h6 {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,222,1) 30%, rgba(251,253,29,1) 50%, rgba(229,230,212,1) 75%, rgba(255,255,255,1) 100%);
}