<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login / Register</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <h1>Login</h1>
  <form @submit.prevent="loginFetch">
    <label for="loginEmail">Email:</label><br>
    <input type="email" id="loginEmail" v-model="loginEmail"><br>
    <label for="loginPassword">Password:</label><br>
    <input type="password" id="loginPassword" v-model="loginPassword"><br><br>
    <button type="submit">Login using fetch</button>
  </form>

  <h1>Register</h1>
  <form @submit.prevent="registerFetch">
    <label for="registerEmail">Email:</label><br>
    <input type="email" id="registerEmail" v-model="registerEmail"><br>
    <label for="registerPassword">Password:</label><br>
    <input type="password" id="registerPassword" v-model="registerPassword"><br><br>
    <button type="submit">Register using fetch</button>
  </form>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data: function () {
      return {
        loginEmail: '',
        loginPassword: '',
        registerEmail: '',
        registerPassword: '',
      }
    },
    methods: {
      loginFetch() {
        const url = new URL('http://localhost:3000/user_handling/login');
        url.search = new URLSearchParams({
          mail: this.loginEmail,
          pw: this.loginPassword
        }).toString();

        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Login failed');
            }
            return response.json();
          })
          .then(data => {
            localStorage.setItem('authToken', data.token);
            alert('Registration successful');
            window.location.href = '/index.html';
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Login failed');
          });
      },
      registerFetch() {
        const url = new URL('http://localhost:3000/user_handling/register');
        url.search = new URLSearchParams({
          mail: this.registerEmail,
          pw: this.registerPassword
        }).toString();

        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Registration failed');
            }
            return response.json();
          })
          .then(data => {
            alert('Registration successful');
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Registration failed');
          });
      }
    }
  }).mount("#app")
</script>
</body>
</html>
